factura.dtd

<!ELEMENT factura (fecha, cliente, productos)>
<!ELEMENT fecha (#PCDATA)>

<!ELEMENT cliente (nombre, direccion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>

<!ELEMENT productos (producto+)>
<!ELEMENT producto (nombre, cantidad, precio)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
